<h1>Sign Up</h1>


  <%= form_for(:company, :url => {:controller => 'companies', :action => 'create'}) do |f| %>
    <p> Name of the company:</br><%= f.text_field :name %> </p>
    <p> Description of the company:</br><%= f.text_field :description %> </p>
    <%= f.submit :Signup %>
  <% end %>

  <% if @company.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
