<!DOCTYPE html>
<html>
  <head>
    <title>Myproject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="top-menu">
      <ul>
        <li><a class="active" href="/companies">All companies</a></li>
        <li><a href="/products">All products</a></li>
        <li><a href="/products/new">Add a product</a></li>
        <% if current_user %>
          <li><%= link_to "Logout", '/logout' %></li>
          <p>Signed in as <%= current_user.username %></p>
        <% else %>
          <li><%= link_to 'Login', '/login' %></li>
          <li><%= link_to 'Sign up', '/users/new' %></li>
        <% end %>
    </ul>
    </div>


    <%= yield %>
  </body>
</html>
